* {margin: 0; padding: 0;}

body {
    background: #eee; padding: 5%; font-family: 'Trebuchet MS';
}

#corpo {
    background: #FFF;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin: 0 auto;
}

header {
    background-color:#ffd5d5;
    padding: 2%;
    border-bottom: 1px solid #999;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4d4d4d;
}

main {
    padding: 2%;
}

footer {
    background:#ffd5d5;
    text-align: center;
    padding: 2%;
    border-top: 1px solid #999;
}

.img {
    border: 3px solid #ffd5d5 ;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}